n8n-workflows/n8n-gmail-brochure-workflow-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-brochure",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "08748f35-f878-4013-a7d5-17688f03562c",
      "name": "Gmail Brochure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -944,
        32
      ],
      "webhookId": "gmail-brochure-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "brochure-request",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "brochure_request",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d9d89564-9265-4e07-917f-a8b512b94b9d",
      "name": "Is Brochure Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -736,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.customer?.email || $json.body.company?.ownerEmail }}",
        "subject": "={{ $json.body.treatment?.name || 'Dental Treatment' }} Information - {{ $json.body.company?.name || 'Our Clinic' }}",
        "message": "=Hi {{ $json.body.customer?.name || 'Valued Customer' }},<br><br>\n\nThank you for your interest in our {{ $json.body.treatment?.name || 'dental treatment' }} services at {{ $json.body.company?.name || 'our clinic' }}.<br><br>\n\nWe're excited to share detailed information about {{ $json.body.treatment?.name || 'this treatment' }} with you. Please find our comprehensive brochure at {{ $json.body.treatment?.brochureUrl || 'our website' }} that covers:<br><br>\n\n<b>• Treatment overview and benefits</b><br>\n<b>• What to expect during your visit</b><br>\n<b>• Pricing and package options</b><br>\n<b>• Before and after care instructions</b><br>\n<b>• Frequently asked questions</b><br><br>\n\n{{ $json.body.treatment?.description || 'We look forward to providing you with excellent dental care.' }}<br><br>\n\n<b>Next Steps:</b><br>\n1. Review the attached brochure<br>\n2. Contact us to schedule your free consultation<br>\n3. Ask any questions you may have<br><br>\n\n<b>Contact Information:</b><br>\n📞 Phone: {{ $json.body.company?.phone || 'Contact us for details' }}<br>\n📧 Email: {{ $json.body.company?.ownerEmail || 'Contact us for details' }}<br>\n🌐 Website: {{ $json.body.company?.website || 'Visit our website for more information' }}<br><br>\n\nWe look forward to helping you achieve your dental goals!<br><br>\n\nBest regards,<br>\n{{ $json.body.company?.name || 'Our Dental Team' }}<br><br>\n\n<hr>\n<small>This email was sent via our automated system. If you have any questions, please don't hesitate to contact us directly.</small>\n",
        "options": {}
      },
      "id": "e02ca8ee-5557-453b-a6b1-47666a06942a",
      "name": "Send Brochure Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -288,
        -192
      ],
      "webhookId": "6da5977a-5702-45bd-852e-04e7d0383e21",
      "credentials": {
        "gmailOAuth2": {
          "id": "oR8CEJE3EHrbt0x4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.customer?.email || $json.body.company?.ownerEmail }}",
        "subject": "=Thank you for your interest - {{ $json.body.company?.name || 'Our Clinic' }}",
        "message": "=Hi {{ $json.body.customer?.name || 'Valued Customer' }},<br><br>\n\nThank you for your interest in our {{ $json.body.treatment?.name || 'dental treatment' }} services at {{ $json.body.company?.name || 'our clinic' }}.<br><br>\n\nWe're currently preparing a detailed brochure for {{ $json.body.treatment?.name || 'this treatment' }} and will send it to you within 24 hours.<br><br>\n\n<b>What to expect:</b><br>\n• Comprehensive treatment information<br>\n• Pricing and package details<br>\n• Before and after care instructions<br><br>\n\n{{ $json.body.treatment?.description || 'We look forward to providing you with excellent dental care.' }}<br><br>\n\n<b>In the meantime:</b><br>\n• Visit our website for more information<br>\n• Call us to schedule a free consultation<br>\n• Ask any questions you may have<br><br>\n\n<b>Contact Information:</b><br>\nPhone: {{ $json.body.company?.phone || 'Contact us for details' }}<br>\nEmail: {{ $json.body.company?.ownerEmail || 'Contact us for details' }}<br>\nWebsite: {{ $json.body.company?.website || 'Visit our website for more information' }}<br><br>\n\nWe appreciate your interest and look forward to serving you!<br><br>\n\nBest regards,<br>\n{{ $json.body.company?.name || 'Our Dental Team' }}<br><br>\n\n<hr>\n<small>This email was sent via our automated system. If you have any questions, please contact us directly.</small>\n",
        "options": {}
      },
      "id": "24e31bdc-46cd-4ebe-bff0-9b5341e09e98",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -288,
        32
      ],
      "webhookId": "698791bb-3037-4295-9185-3538fd83c4ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "oR8CEJE3EHrbt0x4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.company.ownerEmail }}",
        "subject": "New Brochure Request - {{ $json.body.treatment?.name || 'Dental Treatment' }}",
        "message": "=🦷 <b>New Brochure Request Received</b><br><br>\n\n<b>Customer Details:</b><br>\n• Name: {{ $json.body.customer?.name || 'Not provided' }}<br>\n• Email: {{ $json.body.customer?.email || 'Not provided' }}<br>\n• Phone: {{ $json.body.customer?.phone || 'Not provided' }}<br><br>\n\n<b>Treatment Requested:</b><br>\n• Treatment: {{ $json.body.treatment?.name || 'Not specified' }}<br>\n• Description: {{ $json.body.treatment?.description || 'No description provided' }}<br>\n• Brochure URL: {{ $json.body.treatment?.brochureUrl || 'No URL provided' }}<br>\n• Has Brochure URL: {{ $json.body.treatment?.hasBrochureUrl ? 'Yes' : 'No' }}<br><br>\n\n<b>Company Info:</b><br>\n• Company: {{ $json.body.company?.name || 'Not specified' }}<br>\n• Bot ID: {{ $json.body.botId || 'Not provided' }}<br>\n• Bot Name: {{ $json.body.botName || 'Not provided' }}<br>\n• Request Time: {{ new Date().toLocaleString() }}<br><br>\n\n<b>Action Required:</b><br>\n{{ $json.body.treatment?.hasBrochureUrl ? '✅ Brochure email sent automatically to customer' : '⚠️ Please create and send the brochure manually' }}<br><br>\n\n<hr>\n<small>This notification was sent from your Flossy chatbot system.</small>\n",
        "options": {}
      },
      "id": "023da8a9-b17e-4080-befb-ba4f00bfa4f5",
      "name": "Notify Company Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -288,
        224
      ],
      "webhookId": "275d2dba-183c-4782-ac55-244647f9382c",
      "credentials": {
        "gmailOAuth2": {
          "id": "oR8CEJE3EHrbt0x4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Brochure email sent successfully to {{ $json.body.customer.email }}\", \"emailSent\": true, \"timestamp\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "c1168b21-c381-4163-b0db-c4dab4a76472",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Invalid request type\", \"timestamp\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "b3a0faee-a904-4cbd-a8af-8af1827437b7",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -512,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6bf23a3-0fc4-4a44-819d-2050ba51cdc6",
              "leftValue": "={{ $json.body.treatment.hasBrochureUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        -80
      ],
      "id": "2bbeffdd-23d4-4e0a-bcc1-49705847f5c6",
      "name": "Has brochure URL?"
    }
  ],
  "connections": {
    "Gmail Brochure Webhook": {
      "main": [
        [
          {
            "node": "Is Brochure Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Brochure Request?": {
      "main": [
        [
          {
            "node": "Has brochure URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Brochure Email": {
      "main": [
        [
          {
            "node": "Notify Company Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Notify Company Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Company Owner": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has brochure URL?": {
      "main": [
        [
          {
            "node": "Send Brochure Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39f6395296575f516742171bc57b0fc2edfcdcfe0565037b3bf6c1f964e312e0"
  }
}
