n8n-workflows/n8n-email-widget-code-workflow.json
{
  "name": "Email Widget Code to Developer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-widget-code",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "email-widget-code"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your Flossly Chatbot Installation Code",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .header {\n            background-color: #2563eb;\n            color: white;\n            padding: 20px;\n            text-align: center;\n            border-radius: 8px 8px 0 0;\n        }\n        .content {\n            background-color: #f9fafb;\n            padding: 30px;\n            border: 1px solid #e5e7eb;\n        }\n        .instructions {\n            background-color: white;\n            padding: 20px;\n            border-left: 4px solid #2563eb;\n            margin: 20px 0;\n        }\n        .code-block {\n            background-color: #1f2937;\n            color: #f3f4f6;\n            padding: 20px;\n            border-radius: 6px;\n            overflow-x: auto;\n            font-family: 'Courier New', monospace;\n            font-size: 13px;\n            line-height: 1.5;\n            margin: 20px 0;\n        }\n        .step {\n            margin: 15px 0;\n            padding-left: 30px;\n            position: relative;\n        }\n        .step:before {\n            content: '\u2713';\n            position: absolute;\n            left: 0;\n            top: 0;\n            background-color: #10b981;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            text-align: center;\n            line-height: 20px;\n            font-size: 12px;\n        }\n        .important {\n            background-color: #fef3c7;\n            border-left: 4px solid #f59e0b;\n            padding: 15px;\n            margin: 20px 0;\n        }\n        .footer {\n            text-align: center;\n            padding: 20px;\n            color: #6b7280;\n            font-size: 14px;\n        }\n        code {\n            background-color: #e5e7eb;\n            padding: 2px 6px;\n            border-radius: 3px;\n            font-family: 'Courier New', monospace;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>\ud83e\udd16 Flossly Chatbot Installation</h1>\n        <p>Your AI-powered chatbot is ready to go live!</p>\n    </div>\n    \n    <div class=\"content\">\n        <h2>Hello! \ud83d\udc4b</h2>\n        <p><strong>Bot Name:</strong> {{ $json.body.botName }}</p>\n        <p><strong>Company:</strong> {{ $json.body.companyName }}</p>\n        <p><strong>Bot ID:</strong> <code>{{ $json.body.botId }}</code></p>\n        <p>Thank you for choosing Flossly! Below you'll find everything you need to add your intelligent chatbot to your website.</p>\n        \n        <div class=\"instructions\">\n            <h3>\ud83d\udccb Installation Instructions</h3>\n            <p>Follow these simple steps to integrate your chatbot:</p>\n            \n            <div class=\"step\">\n                <strong>Step 1:</strong> Open your website's HTML file or template\n            </div>\n            \n            <div class=\"step\">\n                <strong>Step 2:</strong> Locate the closing <code>&lt;/body&gt;</code> tag at the bottom of your HTML\n            </div>\n            \n            <div class=\"step\">\n                <strong>Step 3:</strong> Copy the code snippet below\n            </div>\n            \n            <div class=\"step\">\n                <strong>Step 4:</strong> Paste the code <strong>just before</strong> the <code>&lt;/body&gt;</code> tag\n            </div>\n            \n            <div class=\"step\">\n                <strong>Step 5:</strong> Save your file and refresh your website\n            </div>\n        </div>\n        \n        <div class=\"important\">\n            <strong>\u26a0\ufe0f Important:</strong> Make sure to place this code before the closing <code>&lt;/body&gt;</code> tag, not after it. This ensures the chatbot loads properly on your website.\n        </div>\n        \n        <h3>\ud83d\udcbb Your Chatbot Code</h3>\n        <p>Copy and paste this entire code snippet:</p>\n        \n        <div class=\"code-block\">{{ $json.body.widgetScript }}</div>\n        \n        <div class=\"instructions\">\n            <h3>\ud83c\udfa8 What Happens Next?</h3>\n            <p>Once you've added the code:</p>\n            <ul>\n                <li>Your chatbot widget will appear on your website</li>\n                <li>Visitors can click the chat icon to start a conversation</li>\n                <li>The bot will automatically respond based on your configuration</li>\n                <li>All conversations are tracked in your Flossly dashboard</li>\n            </ul>\n        </div>\n        \n        <div class=\"important\">\n            <strong>\ud83d\udca1 Pro Tip:</strong> You can customize your chatbot's appearance, behavior, and responses anytime from your Flossly dashboard at <a href=\"https://builder.flossly.ai\">builder.flossly.ai</a>\n        </div>\n        \n        <h3>\u2753 Need Help?</h3>\n        <p>If you encounter any issues or have questions:</p>\n        <ul>\n            <li>\ud83d\udce7 Email us at: <a href=\"mailto:support@flossly.ai\">support@flossly.ai</a></li>\n            <li>\ud83d\udcd6 Check our documentation: <a href=\"https://docs.flossly.ai\">docs.flossly.ai</a></li>\n            <li>\ud83d\udcac Chat with us directly through your Flossly dashboard</li>\n        </ul>\n    </div>\n    \n    <div class=\"footer\">\n        <p>This email was sent from Flossly Bot Builder</p>\n        <p>\u00a9 2024 Flossly. All rights reserved.</p>\n        <p><a href=\"https://flossly.ai\">flossly.ai</a></p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "gmail-node",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Email sent successfully\",\n  \"recipient\": $json.email,\n  \"timestamp\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"message\": \"Failed to send email\",\n  \"error\": $json.error || \"Unknown error\",\n  \"timestamp\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-30T00:00:00.000Z",
  "versionId": "1"
}